<header>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/products/detail">Detalle</a></li>
            <li><a href="/users/login">Iniciar sesión</a></li>
            <li><a href="/users/register">Registrarse</a></li>
        </ul>
    </nav>
</header>